*{
    margin: 0;
    padding: 0;
    border: red 1px solid;
}
body{
    height: 100vh;
}
.header{
    display: flex;
    margin-left: 80px;
}
.logo-preta{
    font-family: 'JetBrains Mono', monospace;
    align-items: center;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;  

}
.botao-entrar{
    
    text-align: center;
    margin-left: 900px;
    font-family: 'Inter', sans-serif;
    background: none;
    color: #6FBE85;
    
}
main {
    display: flex;

}
.container{
    margin-left: 80px;
}
#titulo{
    font-family: 'Fugaz One', cursive;
}
#texto{
    font-family: 'Arya', sans-serif;
    font-size: 15px;
    line-height: 20px;
}
.button-register{
    padding: 14px;
    font-family: 'Inter', sans-serif;
    background: #3A6CAF;
    color: #FEFEFE;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px #3A6CAF;
}