*{
    margin: 0;
    padding: 0;
    border: red 1px solid;
}
body{
    height: 100vh;
}
.header{
    display: flex;
    margin-left: 80px;
}
.logo-preta{
    font-family: 'JetBrains Mono', monospace;
    align-items: center;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;  
    
}
.botao-entrar{
    
    text-align: center;
    margin-left: 900px;
    font-family: 'Inter', sans-serif;
    background: none;
    color: #6FBE85;
    
}